.cardlink {
  color: #222;
}

.img-popover {
  width: 100px;
}

.caret {
  position: absolute;
  right: 2px;
  color: darkslategrey;
}

.attack-bar {
  border-radius: 2px;
  padding: 2px;
  color: white;
  background-color: black;
  padding: 2px 5px;
}

.dice-icon {
  background-color: white;
  color: black;
  padding: 2px;
}

.card-set-icon {
  position: absolute;
  left: 5px; 
  bottom: 5px; 
  width: 20%;
  border-radius: 50%;
  box-shadow: 5px 5px 5px black;
}  
.card-reprint-set-icon {
  position: absolute;
  right: 5px; 
  bottom: 5px; 
  width: 20%;
  border-radius: 50%;
  box-shadow: 5px 5px 5px black;
}  

.popover-body {
  white-space: pre-wrap;
}

.card-forsaken {
  border: 2px solid red;
  border-radius: 15px;
}

.card-restricted {
  border: 2px solid cyan;
  border-radius: 15px;
}

.card-illegal {
  filter: grayscale(100%);
}

#warbandfilter .active img {
  opacity: 0.5;
}

.deckrmv {
  cursor: pointer;
}
.deckrmv :hover {
  color: darkred;
}

.whuw__card {
  min-height: 350px;
}
#set-cards .whuw__card, #faction-cards .whuw__card {
  cursor: pointer;
  width: 250px;
}
#set-cards .icon, #faction-cards .icon {
  width: 40px;
}
#set-cards .icon-sm, #faction-cards .icon-sm {
  width: 32px;
  height: 32px;
}
#set-cards .icon-grey, #faction-cards .icon-grey {
  -webkit-filter: grayscale(1);
  filter: grayscale(1)
}

.whuw__fighter-cards {
  width: 200px;
  position: relative;
  padding-top: 20px;
  margin: 0.2rem;
}
.whuw__cards-swap-trigger {
  position: absolute;
  right: 0px;
  border-radius: 50%;
  background-color: #222;
  border: 2px dashed #ddd;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 99;
}
.whuw__cards-wrapper {
  margin-top: 1rem;
  position: relative;
  height: 250px;
  z-index: 0;
}
.whuw__fighter-card {
  width: 80%;
  position: absolute;
  transform: translate( 20%, 10% );
  transition: transform .3s ease-in-out;
  z-index: 0;
  cursor: pointer;
}
.whuw__fighter-card-active {
  transform: translate( 0px, 0px ); 
  z-index: 1;
}